/*!

 =========================================================
 * Dashboard - v1.0.0
 =========================================================
 * Тут находятся стили, заданные специально для проекта
 */
.pump{
    margin: 0 10px 0 5px;
    font-size: 15px;
    font-weight: 400;
}

.inline{
    display: inline-block;
    margin: 0 0.2em 0 0.01em;
}

//Размер графика
.c3-legend-item-tile {
    width: 20px;
    height: 20px;  
}
// Стиль для x-editable input
.table-input {
    max-width: 100px !important;
    text-align: center;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Обзор";
}