
.icon-arrows-cw:before { content: '\e800'; } /* '' */
.icon-clock-1:before { content: '\e801'; } /* '' */
.icon-settings:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-regulator:before { content: '\e804'; } /* '' */
.icon-params:before { content: '\e805'; } /* '' */
.icon-peptide:before { content: '\e806'; } /* '' */
.icon-lightning-bolt:before { content: '\e807'; } /* '' */
.icon-clock:before { content: '\e808'; } /* '' */
.icon-pump:before { content: '\e809'; } /* '' */
.icon-sensor:before { content: '\e80a'; } /* '' */
.icon-dashboard:before { content: '\e80b'; } /* '' */
.icon-temperature:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e80d'; } /* '' */
.icon-trash-empty:before { content: '\e80e'; } /* '' */
.icon-globe:before { content: '\e80f'; } /* '' */
.icon-chart:before { content: '\e810'; } /* '' */
.icon-web-design:before { content: '\e811'; } /* '' */
.icon-electrical:before { content: '\e812'; } /* '' */
.icon-fantasy:before { content: '\e813'; } /* '' */
.icon-status:before { content: '\e814'; } /* '' */
.icon-bell:before { content: '\e815'; } /* '' */
.icon-cancel:before { content: '\e816'; } /* '' */
.icon-spin:before { content: '\e832'; } /* '' */
.icon-spin-1:before { content: '\e838'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */