/*!

 =========================================================
 * Dashboard - v1.0.0
 =========================================================
 * Тут находятся стили, заданные специально для проекта
 */
.pump{
    margin: 0 10px 0 5px;
    font-size: 20px;
}
.inline{
    display: inline;
}